@page "/"

<PageTitle>Sisterhood Ceramic 🦌</PageTitle>



<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Sisterhood Ceramic 🦌</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger js-scroll-trigger" href="#about">O mnie</a>
                </li>
                <!--                <li class="nav-item"><a class="nav-link js-scroll-trigger js-scroll-trigger" href="#services">Services</a></li>-->
                <li class="nav-item"><a class="nav-link js-scroll-trigger js-scroll-trigger"
                                        href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger js-scroll-trigger" href="#contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end col-name">
                <h1 class="text-white font-weight-bold">Olka Tomczyk</h1>
                <hr class="divider"/>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Dark Romantic Ceramic</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger btn-about" href="#about">O mnie</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary page-section-about" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="mt-0">
                    <h2 class="text-white mt-0">Hej, jestem Ola i robię ceramikę!</h2>
                    <hr class="divider divider-light"/>
                </div>
            </div>

            <div class="col-lg-8 text-center">
                <div class="mt-0">
                    <img class="img-fluid img-photo rounded" src="assets/img/photo.webp" alt="..."/>
                </div>
            </div>
            <div class="col-lg-8 text-center">
                <hr class="divider divider-light"/>
                <p class="text-white-75 mb-4">
                    Ceramika użytkowa z charakterystycznymi sylwetkami piesków.
                    Przeważają stonowane kolory, choć nie brak w nich odjechanych efektów, typowych dla ceramiki spieczonej na kamionkę.
                    Do wyboru kubeczki, talerzyki ale nade wszystko psie michy, by kudłate kundelki mogły się poczuć jak na salonach! 🐩
                </p>
                <hr class="divider divider-light"/>
            </div>
            <div class="col-lg-8 text-center">
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#portfolio">Zapraszam do zobaczenia
                    Portfolio!</a>
            </div>
        </div>
    </div>
</section>


<Portfolio/>
<Contact/>

<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-12 col-xl-12 mb-3 text-center">
                <h2 class="mt-0">Znajdziesz mnie tu:</h2>
            </div>
            <div class="col-lg-2 text-center mb-5 mb-lg-0">
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/sisterhood_ceramic/">
                    <i class="bi-instagram fs-2 mb-3 text-muted"></i>
                </a>
                <div>Instagram</div>
            </div>
            <div class="col-lg-2 text-center mb-5 mb-lg-0">
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/olka.tomczyk">
                    <i class="bi-facebook fs-2 mb-3 text-muted"></i>
                </a>
                <div>Facebook</div>
            </div>
            <div class="col-lg-2 text-center mb-5 mb-lg-0">
                <a class="btn btn-outline-light btn-social mx-1" data-toggle="tooltip" title="TBD" href="#" onclick="return false;">
                    <i class="bi-cart fs-2 mb-3 text-muted"></i>
                </a>
                <div>Etsy</div>
            </div>
        </div>
    </div>
</footer>