<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg" title="Zestaw dla psich kawoszy">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Psie miski</div>
                        <div class="project-name">Zestaw dla psich kawoszy</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg" title="Miski ulepszające smak karmy">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Psie miski</div>
                        <div class="project-name">Miski ulepszające smak karmy</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg" title="Słonecznikowy talerz">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Talerze</div>
                        <div class="project-name">Słonecznikowy talerz</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg" title="Kubek niebo i talerz słońce">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Motywy astrologiczne</div>
                        <div class="project-name">Kubek niebo i talerz słońce</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg" title="Botaniczna miska">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Miski</div>
                        <div class="project-name">Botaniczna miska</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg" title="Filiżanki z piegowej gliny">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.jpg" alt="..."/>
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Filiżanki</div>
                        <div class="project-name">Filiżanki z piegowej gliny</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@code
{
    [Inject]
    private IJSRuntime JSRuntime { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeAsync<object>("initPortfolio");
        await JSRuntime.InvokeAsync<object>("initNavMenu");
        await base.OnAfterRenderAsync(firstRender);
    }
}
